<!DOCTYPE html>
<html>
<head>
  <title><%= @page_name %></title>
  <%= render 'layouts/shim' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="container-fluid">
    <% if params[:controller] == 'admins' %>
      <%= render 'layouts/intro' %>
    <% else %>  
      <%= render 'layouts/header' %>
    <% end %>
    <div class="row-fluid">
      <div>
        <%= yield %>
      </div>
    </div>
    <% if params[:controller] != 'admins' %>
      <%= render 'layouts/footer' %>
    <% end %>

  </div>

</body>
</html>
